<h1 style="font-family: oswald;text-align:center"><b><u>Farmed Versus Wild Oysters</u></b></h1>
<br />
<p style="font-family: 'Kaushan Script', cursive; font-size:36px;">“I’ll take <b>OysterMom</b> oysters any day!”</p>
<br />
<p><b>OysterMom</b> oysters are raised on the rich natural phytoplankton found in Oyster Bay. Nothing is added to their diet. They add structure to the bay which creates habitat for more oysters, fish, crabs, shrimp and all life that once depended on the depleted oyster reefs. Oysters absorb and filter minerals and nutrients from the water around them, no additional help is needed. They remove nitrogen from the water and improve water clarity, which benefits other aquatic plants and wildlife. They only grow and flourish in clean conditions. Oyster Bay, Wakulla County is part of Apalachee Bay and is surrounded by the St Marks Wildlife Refuge, Apalachicola National Forest – nearly a million acres of protected natural habitat.</p>

<p>Wild oysters provide all these benefits too, but pollution of coastal waters means you must be very cautious of the oyster’s harvest location. <b>OysterMom</b>’s oysters are grown in waters declared and monitored by Florida’s Division of Aquaculture to ensure you get the safest product on the market.</p>

<p>Let’s leave wild oysters to reproduce and build up oyster beds along our coasts, and keep those protective oyster reefs which add so many natural services to our shorelines, bays and estuaries.</p>

<p>The Monterey Bay Aquarium’s Seafood Watch rates farmed oysters <b style="color:green">“green,”</b> but wild oysters <b style="color:gold">“yellow.”</b></p>

<p>More importantly for discerning palates, some might say farmed oysters taste better. Wild oysters that grow to adult size have certainly beat the odds (only about one in a million eggs survive). They have generally led a life of hardship, struggling to reach algae and nutrients from the muddy seafloor bottom. Farmed oysters have been fed a steady stream of food since birth, bask in protective baskets, hung in the water column and have a doting “Mother” who ensures that they grow strong, beautiful shells.</p>

<p>They are bred to grow quickly and are harvested when they are at their peak flavor.</p>

<p>Give them a try. <b>OysterMom</b>’s team is proud of our product – and our discerning taste testers who have devoured local wild oysters their entire lives are claiming them the best oysters they have ever eaten!</p>

<p>“Selects”. ‘Premium”. “ Delicious”. “Clean”.</p>