<h1 style="font-family: oswald;text-align:center"><b><u>Pre Order Your Oysters</u></b></h1>
<br />
<p><b>OysterMom</b> provides a personal service shellfish harvester and processor. I will harvest the oysters you order, bringing them to Tallahassee when you need them. Because I want you to have the freshest oyters possible, I recommend you let me know in advance how many oysters you want by using the email service here or by calling or texting me directly at 850-566-7051.</p>

<p>I will pull your oysters when you need them. When you order, we will discuss a pick up or local delivery time convenient to you.</p>

50 oysters $30.
100 oysters $60.
200 oysters $120.

<p>For larger orders please contact me for a discount price.</p>

<p><b>Pick up location</b>: 1139 East Tennessee St. Tallahassee FL 32308</p>

<p>Located BEHIND B&amp;B Sporting Goods and Fred Astaire Dance Studio near the intersection of Tennessee and Magnolia Streets.</p>
<br />
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3439.6229110791846!2d-84.26580488456143!3d30.446789981737673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88ec5f82159f3dbb%3A0x1b66a58e007c11f2!2s1139+E+Tennessee+St%2C+Tallahassee%2C+FL+32308!5e0!3m2!1sen!2sus!4v1474383893663" width="480" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
<br /><br />
<p>Because of the labor and care involved in raising oysters, <b>OysterMom</b>‘s are sold by the piece. A wild oyster is sold by weight and volume and most of the weight and size is in the inedible shell. For comparison, there are approximately 120 oysters in a bushel of oysters. A bushel of <b>OysterMom</b>’s oysters would have about 200 oysters. The shell is thinner, the meat larger and overall, the oyster is cleaner.</p>

<p>You know where they came from; when they were harvested and who raised them.</p>