<h1 style="font-family: oswald;text-align:center"><b><u>Team OysterMom</u></b></h1>
<br />
<p>Nothing happens without help and I’ve had plenty of it from family and friends. Here are a few of the stalwarts who have made oyster farming fun and better.</p>

<div id="team-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <b><u>Jack Todd</u></b>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse accordion-text" role="tabpanel" aria-labelledby="headingOne">
      <img style="height:150px;" src="http://shackmanlab.org/wp-content/uploads/2013/07/person-placeholder.jpg">
      <br /><br />
      <p>Husband. CPA. Production specialist and “Ninja Tellitubby” when in his wetsuit.</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <b><u>Michael Barnett</u></b>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse accordion-text" role="tabpanel" aria-labelledby="headingTwo">
      <img style="height:150px;" src="http://shackmanlab.org/wp-content/uploads/2013/07/person-placeholder.jpg">
      <br /><br />
      <p>Number one partner out on the farm. Oyster sorter, separator. Equipment installer. Michael is sight impaired so he often comes with his service dog – Oyster Dog!</p>   
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <b><u>Reid Tilley</u></b>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse accordion-text" role="tabpanel" aria-labelledby="headingThree">
      <img style="height:150px;" src="http://shackmanlab.org/wp-content/uploads/2013/07/person-placeholder.jpg">
      <br /><br />
      <p>Local outdoorsman and budding oyster farmer himself. He fishes, hunts, builds, works hard and calls me Ma’am.</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <b><u>Ma and Pa Keller</u></b>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse accordion-text" role="tabpanel" aria-labelledby="headingFour">
      <img style="height:150px;" src="http://shackmanlab.org/wp-content/uploads/2013/07/person-placeholder.jpg">
      <br /><br />
      <p>Financial assistance and moral support who raised me to have a strong work ethic and strong back!</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#team-accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <b><u>Oyster Kids: Shannon and Sarah</u></b>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse accordion-text" role="tabpanel" aria-labelledby="headingFive">
      <img style="height:150px;" src="http://shackmanlab.org/wp-content/uploads/2013/07/person-placeholder.jpg">
      <br /><br />
      <p>Basket makers. Oyster sorters, separators and all round good gals who LOVE oysters.</p>
    </div>
  </div>
</div>