<%= simple_form_for(:user, :url => session_path(:user), :class => "form") do |f| %>
  <p class="email"> 
    <%= f.text_field :email, :id => "email" %>
    <label for="email">Email</label> 
  </p> 
  <p class="password"> 
    <%= f.password_field :password, :id => "password" %> 
    <label for="password">Password</label> 
  </p>
  <%= f.submit 'Log in', :class => 'submit btn btn-primary', :style => "width:75px", :method => :post %>
<% end %>