<div id="footer">
  <div style="padding-top:10px;">
    <a href="https://www.facebook.com/OysterMom.Oysters/"><%= image_tag "facebook.png", :class => "sm-logo" %></a>
    <a href="http://oystermom.blogspot.com/"><%= image_tag "blogspot.png", :class => "sm-logo" %></a>
    <a href="#"><%= image_tag "instagram.png", :class => "sm-logo" %></a>
  </div>
</div>